* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  max-width: 80rem;
  background-color: #111;
  margin: 0 auto;
};
h1 {
  background-color: skyblue;
}

#box1 {
  width: 300px;
  height: 300px;
  background-color: crimson;
}

#box2 {
  width: 300px;
  height: 300px;
  background-color: lightseagreen;
}
